
 <div ng-include="'sidebar.html'"></div>
 <div class="page home-page active">     
 <div ng-include="'header.html'"></div>

 
 <section class="statistics section-padding section-no-padding-bottom section_top">
    <!-- <section class="updates section-padding section-no-padding-bottom section_top"> -->
        
               <div class="container-fluid" ng-init="shiftinit()">
                   <div ng-include="'breadcrumb.html'"></div>
                   <div class="row">
                     <div ng-show="myLoader" class="spinner">
                 <img src="assets/images/spinner.gif" class="myspin">
               </div>
                       <!-- Daily Feed-->
                       <div class="col-lg-12">
                           <header>
                               

                                <!-- <h1 class="h3 display"><i class="fa fa-laptop"></i>Net Size  -->
                                   
                               <a href="" class="btn_add" data-toggle="modal" data-target="#exampleModalLabel1" ng-click="cleandata1()"><i class="fa fa-plus" aria-hidden="true"></i></a>

                               <ul class="nav nav-pills mb-3"  role="tablist">
                                    <li class="nav-item" style="cursor: pointer;">
                                      <a class="nav-link active" style="cursor: pointer;"  data-toggle="pill" role="tab" aria-controls="pills-home" aria-selected="true">NetSize</a>
                                    </li>
                                    <li class="nav-item" style="cursor: pointer;" ng-click="pageverification('/#!/netsizetype')">
                                      <a class="nav-link"  data-toggle="pill" role="tab" style="cursor: pointer;" aria-controls="pills-profile" aria-selected="false">NetSize Types</a>
                                    </li>
                                    
                                  </ul>
                              <!-- <span class="note">s under the actions tab for each shift)</span>  -->
                             <!-- </h1>
                             <h1 class="h3 display"><i class="fa fa-laptop"></i>NetSize Types </h1> --> 
                             <!-- <ul class="nav nav-pills mb-3" role="tablist"><br>
                                    <li class="nav-item" ><a  lass="nav-link active" role="pill" data-toggle="tab" aria-selected="true">NetSize</a></li>
                                    <li class="nav-item"><a  lass="nav-link " role="pill" data-toggle="tab" aria-selected="false">NetSize Types</a>
                                   </li>
                                   
                                  </ul>     
                                  




                                  <ul class="nav nav-pills mb-3"  role="tablist">
                                        <li class="nav-item">
                                          <a class="nav-link active"  data-toggle="pill" role="tab" aria-controls="pills-home" aria-selected="true">NetSize</a>
                                        </li>
                                        <li class="nav-item" ng-click="pageverification('/#!/netsizetype')">
                                          <a class="nav-link"  data-toggle="pill" role="tab" aria-controls="pills-profile" aria-selected="false">NetSize Types</a>
                                        </li>
                                        
                                      </ul>
                                       <div class="tab-content" id="pills-tabContent">
                                        <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">...</div>
                                        <div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab">...</div>
                                        <div class="tab-pane fade" id="pills-contact" role="tabpanel" aria-labelledby="pills-contact-tab">...</div>
                                      </div> -->





                           </header>
                           <button  class="next_tab" ng-repeat="test in netsize_value" ng-click="nexttab(test)" >{{test}}</button>
                           
                           <!-- <div class="card">
                               <div class="card-block tablescroll">
                                   <table class="table table-striped table-sm table_front">
                                       <thead>
                                           <tr>
                                               <th>Shift Start Time</th>
                                               <th>Shift End Time</th>
                                                <th>Shift</th>
                                               <th>Actual Working Hours</th>
                                               <th>Action</th>
                                           </tr>
                                       </thead>
                                       <tbody>
                                           <tr ng-repeat="shift in shiftstrans">
                                               <td>{{ shift.start_time }}</td>
                                               <td>{{ shift.end_time }}</td>
                                                <td>{{ shift.shift_no }}</td>
                                               <td>{{ shift.duration }}</td>
                                               <td>
                                                   <ul class="item-actions-list">
                                                       <li>
                                                           <a class="remove"> <i class="fa fa-trash-o " confirmed-click="delete1(shift.id)"  ng-confirm-click="Do you want to delete"></i> </a>
                                                       </li>
                                                       <li>
                                                           <a class="edit" data-toggle="modal" data-target="#exampleModalLabel1" title="Edit" ng-click="edit1(shift.id)"> <i class="fa fa-pencil"></i> </a>
                                                       </li>
                                                       <li>
                                                           <a class="create" title=" creation"> <i class="fa fa-plus" ng-click="breaktime(shift.id)"></i> </a>
                                                       </li> 
                                                   </ul>
                                               </td>
                                           </tr>
                                       </tbody>
                                   </table>
                               </div>
                           </div> -->
                       </div>
   
                   </div>
               </div>
           </section>
   

       
     <!-- modal -->
    <div ng-app="MyApp" class="modal fade" id="exampleModalLabel1" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Net Size Values</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="cleandata1()">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form name="shifttran">
    
                     
                            <div>
                                <label>Netsize name</label>
                                <input type="text" placeholder="Enter netsize name" class="form-control" ng-Required="true" ng-model="net.name" ng-readonly="false" size="8" >
                            </div>
                             
                          <!--   <button ng-click="getDuration(shifttransaction.start_time,shifttransaction.end_time)">diff</button> -->
                          <div>
                            <label>Weight</label>
                            <input placeholder="Enter Weight" class="form-control" ng-Required="true" ng-model="Weight.name " ng-keypress="filterValue($event)"  ng-readonly="false"   >
                          </div>
                         
                        

                          <!-- ng-keypress="filterValue($event)"  -->
    
                            <div>
                                <label>NetSize Value</label><br>
                                <!-- <select name="users"    >
                                 <option value="">--Select--</option>
                                 <option value="1">0.20mm</option>
                                 <option value="2">0.23mm</option>
                                 <option value="3">0.25mm</option>
                                 <option value="4">0.28mm</option>
                                 <option value="5">0.30mm</option>
                                 <option value="6">0.32mm</option>
                                 <option value="7" ng-change="inputtest('test')">Others</option>


                                 </select>  -->
                                 <select ng-model="length" ng-options="test for test in netsiziearrayvalue" class="form-control" ng-click="checkfunction(length)"  ng-Required="true">
                                     <option>{{test}}</option>
                                     
                                </select>
                                 <!-- <select data-ng-options="i in test" ng-change="checkfunction(i)">
                                     <option >{{i}}

                                     </option>
                                 </select> -->
                            </div><br>
                            <div ng-hide="inputshow == false">
                                    <label>Enter New netSize Value</label>
                                    <input  placeholder="Enter this format eg:0.32" ng-keypress="filterValue($event)" class="form-control" ng-model="net.types" ng-readonly="false" 
                                    ng-required="g == 'Others'" >
                                </div>
                                <div class="modal-footer">
                                  <!-- {{net.types}} -->
                                    <button type="button" class="btn btn-primary" ng-disabled="shifttran.$invalid || length == 'Others' && net.types == ''" ng-click="newshifttrans()" data-dismiss="modal">Save</button>
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                </div>
                            
                        </form>
    
                    </div>
                    
                </div >
            </div>
        </div>
    
             <div ng-include="'footer.html'"></div>
     </div>
    




