<!DOCTYPE html>
<html>
  <body>
    <div class="page login-page">
      <div class="container">
        <div class="form-outer d-flex align-items-center">
          <div class="form-inner">
            <div class="logo text-center"><img src="assets/images/logo.jpg"></div>
            <p class="text-center">Signin to continue with Yantra24x7</p>
            <form id="login-form" method="post">
              <div class="form-group">
                <label for="login-username" class="label-custom">User Name</label>
                <input id="login-username" type="text" name="loginUsername" ng-model="login.email_id" ng-Required="true" autocomplete="off" autofocus>
              </div>
              <div class="form-group">
                <label for="login-password" class="label-custom">Password</label>
                <input id="login-password" type="password" name="loginPassword" ng-model="login.password" ng-Required="true" autocomplete="off">
              </div>
              <button class="btn btn-primary btn-block btn-small" ng-click="signin()"><a id="login" >Login</a></button>
              <!--div ng-click="signin()"><a id="login" class="btn btn-primary btn-block">Login</a></div-->
              <!-- This should be submit button but I replaced it with <a> for demo purposes-->
            </form><a href="#" class="forgot-pass text-center">Forgot Password?</a>
            <div class="login_footer">
          <!--   <small>Do not have an account? </small><a href="/#!/registration" class="signup">Signup</a> -->
            </div>
          </div>
        </div>
      </div>
    </div>
    <script src="assets/js/front.js"></script>
  </body>
</html>
